This is my first PR for the Aries test harness, so feedback will be very welcomed! :)

cc @Moopli 

Looks good in running the test -- nice!  

I agree with @TimoGlastra that we should look at not making WACI a separate thing from the rest of the suite, but in line with the versioning we have built into the Test Harness.  WACI is (AFAIK):

- V3 versions of the V2 Issue Credential and Present Proof protocols (RFC0453, RFC0454) changed only by the requirements of DIDComm v2. However, they are not (AFAIK) formalized anywhere. I personally would prefer to see them as new Aries RFCs, but others might not be happy with that.
- The use of DIDComm V2 vs. DIDComm V1, which implies an evolution of the OOB/DIDExchange protocols (RFC0434, RFC0025)
- New attachments on V3 of the Issue Credential protocol to handle Credential Manifest.

Interested in your thoughts on that @DRK3 .

Hi @TimoGlastra and @swcurran!

I agree with your comments about WACI not being a separate endpoint - I'll work on that and update my PR accordingly.

As for this question:

> I'm a bit confused about WACI and DIDComm in general. It seems the new issue credential and present proof v3 protocols are defined as part of WACI. Shouldn't they live under the new didcomm.org repository?

I didn't really work on the spec myself, but I think my colleague @rolsonquadras may be able to help answer that, as he worked directly on the spec.

With regards to 

> V3 versions of the V2 Issue Credential and Present Proof protocols (RFC0453, RFC0454) changed only by the requirements of DIDComm v2. However, they are not (AFAIK) formalized anywhere. I personally would prefer to see them as new Aries RFCs, but others might not be happy with that.
The use of DIDComm V2 vs. DIDComm V1, which implies an evolution of the OOB/DIDExchange protocols (RFC0434, RFC0025)
New attachments on V3 of the Issue Credential protocol to handle Credential Manifest.

Again, perhaps @rolsonquadras can weigh in here.

@swcurran 
> * V3 versions of the V2 Issue Credential and Present Proof protocols (RFC0453, RFC0454) changed only by the requirements of DIDComm v2. However, they are not (AFAIK) formalized anywhere. I personally would prefer to see them as new Aries RFCs, but others might not be happy with that.

Yes - the difference is in the message structure (DIDComm v1 vs DIDComm v2). Currently, the issue_credential v3 and present_proof v3 live in DIF WACI repo https://github.com/decentralized-identity/waci-presentation-exchange. 

I think, there was a question about whether it should be in Aries RFCs or DIF DIDComm group. Tagging @TelegramSam @OR13 @brentzundel @bumblefudge @troyronda to see if they have any thoughts on this.


Hi @TimoGlastra @swcurran @Exulansis,

I've updated my PR based on your feedback and also rebased with the latest changes on main. Can you take another look and let me know if you have any other feedback? Thanks!