@swcurran It seems that when aries-vcx sends credential offer, acapy seems to receive it, but goes to `Complete` state which the harness doesn't expect and so times out waiting for the correct state. I am not sure what is causing it - the message might be in a format acapy doesn't expect and so it fails silently, but the `acapy::record::issue_credential::offer_received` event is still sent 🤷‍♂️ 

@ianco -- can you please help investigate on the ACA-Py side of this?  How is ACA-Py handling credential offers from Aries VCX?  See the note above and perhaps ask really good questions to help us get to the bottom of this.

I get the following results with this run:

`./manage run -d acapy-main -b aries-vcx -t @RFC0036,@RFC0037,@RFC0160,@revocation -t ~@wip -t ~@DIDExchangeConnection -t ~@T002-HIPE0011`

... results in:

```
Failing scenarios:
  features/0160-connection.feature:52  Inviter Sends invitation for one agent second agent tries after connection
  features/0160-connection.feature:69  Inviter Sends invitation for one agent second agent tries during first share phase
  features/0183-revocation.feature:24  Credential revoked by Issuer and Holder attempts to prove with a prover that doesn't care if it was revoked -- @1.1 
  features/0183-revocation.feature:60  Credential revoked by Issuer and Holder attempts to prove with a prover that doesn't care if it was revoked -- @1.1 
  features/0183-revocation.feature:116  Proof in process while Issuer revokes credential before presentation and the verifier doesn't care about revocation status -- @1.1 
  features/0183-revocation.feature:155  Credential is revoked inside the non-revocation interval -- @1.1 
  features/0183-revocation.feature:156  Credential is revoked inside the non-revocation interval -- @1.2 
  features/0183-revocation.feature:157  Credential is revoked inside the non-revocation interval -- @1.3 
  features/0183-revocation.feature:176  Credential is revoked before the non-revocation instant -- @1.1 
  features/0183-revocation.feature:177  Credential is revoked before the non-revocation instant -- @1.2 
  features/0183-revocation.feature:178  Credential is revoked before the non-revocation instant -- @1.3 
  features/0183-revocation.feature:179  Credential is revoked before the non-revocation instant -- @1.4 
  features/0183-revocation.feature:197  Credential is revoked before the non-revocation interval -- @1.1 
  features/0183-revocation.feature:198  Credential is revoked before the non-revocation interval -- @1.2 
  features/0183-revocation.feature:216  Credential is revoked before the non-revocation instant -- @1.1 
  features/0183-revocation.feature:217  Credential is revoked before the non-revocation instant -- @1.2 
  features/0183-revocation.feature:218  Credential is revoked before the non-revocation instant -- @1.3 
  features/0183-revocation.feature:219  Credential is revoked before the non-revocation instant -- @1.4 
  features/0183-revocation.feature:333  Revocable Credential not revoked and Holder attempts to prove without a non-revocation interval -- @1.1 
  features/0183-revocation.feature:350  Non-revocable Credential, not revoked, and holder proves claims with the credential with timesstamp -- @1.1 
  features/0183-revocation.feature:367  Revocable Credential, not revoked, and holder proves claims with the credential with timesstamp -- @1.1 

2 features passed, 2 failed, 4 skipped
20 scenarios passed, 21 failed, 69 skipped
237 steps passed, 21 failed, 737 skipped, 0 undefined
```

I think we should merge and go from there.  Everyone OK with that?

> I think we should merge and go from there. Everyone OK with that?

Works for me
