I tried to run the test using the command: `./manage run -d acapy-main -t @T002-RFC0454`

I got this error, and the tests didn't run:

```
Tags:  --tags=@T002-RFC0454

@RFC0454 @AIP20
Feature: RFC 0454 Aries agent present proof v2 # features/0453-present-proof-v2.feature:2
HOOK-ERROR in before_scenario: TypeError: can only concatenate str (not "builtin_function_or_method") to str
HOOK-ERROR in before_scenario: TypeError: can only concatenate str (not "builtin_function_or_method") to str
```

Any ideas?

Tried with `-t @T001-RFC454` and the tests ran, but the JSON-LD versions failed:

```
@T001-RFC0454 @critical @AcceptanceTest @DIDExchangeConnection @CredFormat_JSON-LD @RFC0510 @Schema_DriversLicense_v2 @CredProposalStart @ProofType_Ed25519Signature2018 @DidMethod_key
  Scenario Outline: Present Proof of specific types and proof is acknowledged with a Drivers License credential type with a DID Exchange Connection -- @2.1   # features/0453-present-proof-v2.feature:26
    Given "2" agents                                                                                                                                          # features/steps/0160-connection.py:15 0.000s
      | name  | role     |
      | Faber | verifier |
      | Bob   | prover   |
    And "Faber" and "Bob" have an existing connection                                                                                                         # features/steps/0160-connection.py:285 7.837s
    And "Bob" has an issued credential with formats from Acme with Data_DL_MaxValues                                                                          # features/steps/0454-present-proof-v2.py:7 14.872s
    When "Faber" sends a proof_request_DL_address_v2_dif_pe presentation with formats to "Bob"                                                                # features/steps/0454-present-proof-v2.py:85 0.586s
    And "Bob" makes the presentation_DL_address_v2_dif_pe of the proof with formats                                                                           # features/steps/0454-present-proof-v2.py:142 0.042s
      Assertion Failed: resp_status 500 is not 200; Extra data: line 1 column 5 (char 4)

    And "Faber" acknowledges the proof with formats                                                                                                           # None
    Then "Bob" has the proof with formats verified                                                                                                            # None

  @T001-RFC0454 @critical @AcceptanceTest @DIDExchangeConnection @CredFormat_JSON-LD @RFC0510 @RFC0646 @Schema_DriversLicense_v2 @CredProposalStart @ProofType_BbsBlsSignature2020 @DidMethod_key
  Scenario Outline: Present Proof of specific types and proof is acknowledged with a Drivers License credential type with a DID Exchange Connection -- @3.1   # features/0453-present-proof-v2.feature:31
    Given "2" agents                                                                                                                                          # features/steps/0160-connection.py:15 0.000s
      | name  | role     |
      | Faber | verifier |
      | Bob   | prover   |
    And "Faber" and "Bob" have an existing connection                                                                                                         # features/steps/0160-connection.py:285 7.823s
    And "Bob" has an issued credential with formats from Acme with Data_DL_MaxValues                                                                          # features/steps/0454-present-proof-v2.py:7 12.300s
    When "Faber" sends a proof_request_DL_address_v2_dif_pe_limit_disclosure presentation with formats to "Bob"                                               # features/steps/0454-present-proof-v2.py:85 0.584s
    And "Bob" makes the presentation_DL_address_v2_dif_pe of the proof with formats                                                                           # features/steps/0454-present-proof-v2.py:142 0.033s
      Assertion Failed: resp_status 500 is not 200; Extra data: line 1 column 5 (char 4)

    And "Faber" acknowledges the proof with formats                                                                                                           # None
    Then "Bob" has the proof with formats verified                    
```

I'm a fool, I didn't commit all files...  Should be fixed now. 

Can you re-run @swcurran (and make sure you get the latest ACA-Py version, docker build sometimes caches more than you'd like)?