Adds a dry-run option.  Here is the section of the usage for the command:

```
  dry-run [ -i <ini file> ] [ -o <output file> ] [ -t tags ]*
    Uses the Behave "dry-run" feature to get a lists of the Features, Scenarios, Tags and test steps
    that would be run based on the provided the command line arguments. Useful for seeing what tests
    a combination of "-t" (tag) arguments will cause to be run.
    Accepts all the same parameters as 'run', but ignores -a/b/f/m/d/n/r/e/v
    The following are some useful grep filters for processing the output:
    - For a list of features and scenarios: ./manage dry-run <args> | grep "Feature\|Scenario"
    - For a list of features, scenarios and tags: ./manage dry-run <args> | grep "Feature\|Scenario\|\@" | sed "/n(u/d"
```

@tdiesler @nodlesh --- does this help with the tag checking?  I've been meaning to do something like this for a while.

If I do `./manage dry-run -t @RFC0160` I get a detailed execution plan of 530 lines, which is great when I need this level of detail. For now however, a high level summary of which scenarios belong to a given RFC or AIP is all I'd like to see

```
$ ./manage tests | grep -A 1 -e @RFC0160

  @T002-RFC0025 @RFC0025 @AIP10 @AIP20 @AcceptanceTest @RFC0160
  Scenario Outline: Create 0160 connection between two agents with overlapping transports
--
   @T001-RFC0160 @RFC0160 @AIP10 @critical @AcceptanceTest @MobileTest
   Scenario Outline: establish a connection between two agents
--
   @T002-RFC0160 @RFC0160 @AIP10 @critical @AcceptanceTest
   Scenario Outline: Connection established between two agents but inviter sends next message to establish full connection state
--
   @T003-RFC0160 @RFC0160 @AIP10 @normal @SingleUseInvite @ExceptionTest @allure.issue:https://github.com/hyperledger/aries-cloudagent-python/issues/418
   Scenario: Inviter Sends invitation for one agent second agent tries after connection
--
   @T004-RFC0160 @RFC0160 @AIP10 @normal @SingleUseInvite @ExceptionTest @allure.issue:https://github.com/hyperledger/aries-cloudagent-python/issues/418
   Scenario: Inviter Sends invitation for one agent second agent tries during first share phase
--
   @T005-RFC0160 @RFC0160 @AIP10 @wip @minor @MultiUseInvite @DerivedFunctionalTest @NeedsReview
   Scenario: Inviter Sends invitation for multiple agents
--
   @T006-RFC0160 @RFC0160 @AIP10 @trivial @DerivedFunctionalTest
   Scenario: Establish a connection between two agents who already have a connection initiated from invitee
--
   @T007-RFC0160 @RFC0160 @AIP10 @wip @normal @ExceptionTest @SingleTryOnException @NeedsReview
   Scenario Outline: Establish a connection between two agents but gets a request not accepted report problem message
```

Perhaps that can be achieved with behave dry-run as well, but unfortunately that tech is completely new to me.
Enforced tag consistency is another thing we could think about. i.e. all feature tags must also be present on nested scenarios. Alternatively perhaps, change `./manage tests` such that it shows nested scenarios for a given feature tag i.e. feature tags are treated as implicit tags on nested scenarios (not trivial to do in bash I'd think)


We could do the tag enforcing and/or the implicit tag thing in python, since that is installed on every system that runs `./manage`

@tdiesler won't running `./manage dry-run -t @RFC0160 | grep "Feature\|Scenario\|\@" | sed "/n(u/d"` give you exactly what you are asking for? 

```
Tags:  --tags=@RFC0160
@RFC0025 @UsesCustomParameters @AIP10 @AIP20
Feature: RFC 0025 DIDComm Transports # features/0025-didcomm-transports.feature:2
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Http @critical
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @1.1 0160 connection with both agents using HTTP for inbound and outbound transport  # features/0025-didcomm-transports.feature:65
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Ws @Transport_NoHttpOutbound @normal
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @2.1 0160 connection with both agents using WS for inbound and outbound transport  # features/0025-didcomm-transports.feature:70
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Ws @Transport_Http @normal
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @3.1 0160 connection with both agents using WS for inbound and outbound transport, but also supporting http for outbound transport  # features/0025-didcomm-transports.feature:77
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Http @Transport_Ws @normal
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @4.1 0160 connection with both agents using HTTP and WS for inbound and outbound transport  # features/0025-didcomm-transports.feature:82
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Http @Transport_Ws @normal
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @4.2 0160 connection with both agents using HTTP and WS for inbound and outbound transport  # features/0025-didcomm-transports.feature:83
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Http @Transport_Ws @normal
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @5.1 0160 connection with one agent using http for inbound and the other using ws and both agents supporting ws and http outbound  # features/0025-didcomm-transports.feature:88
  @T002-RFC0025 @AcceptanceTest @RFC0160 @Transport_Http @Transport_Ws @normal
  Scenario Outline: Create 0160 connection between two agents with overlapping transports -- @5.2 0160 connection with one agent using http for inbound and the other using ws and both agents supporting ws and http outbound  # features/0025-didcomm-transports.feature:89
@RFC0160 @AIP10
Feature: RFC 0160 Aries agent connection functions # features/0160-connection.feature:2
  @T001-RFC0160 @critical @AcceptanceTest @MobileTest
  Scenario Outline: establish a connection between two agents -- @1.1   # features/0160-connection.feature:21
  @T002-RFC0160 @critical @AcceptanceTest
  Scenario Outline: Connection established between two agents but inviter sends next message to establish full connection state -- @1.1   # features/0160-connection.feature:46
  @T003-RFC0160 @normal @SingleUseInvite @ExceptionTest @allure.issue:https://github.com/hyperledger/aries-cloudagent-python/issues/418
  Scenario: Inviter Sends invitation for one agent second agent tries after connection     # features/0160-connection.feature:52
  @T004-RFC0160 @normal @SingleUseInvite @ExceptionTest @allure.issue:https://github.com/hyperledger/aries-cloudagent-python/issues/418
  Scenario: Inviter Sends invitation for one agent second agent tries during first share phase  # features/0160-connection.feature:69
  @T005-RFC0160 @wip @minor @MultiUseInvite @DerivedFunctionalTest @NeedsReview
  Scenario: Inviter Sends invitation for multiple agents                                   # features/0160-connection.feature:82
  @T006-RFC0160 @trivial @DerivedFunctionalTest
  Scenario: Establish a connection between two agents who already have a connection initiated from invitee  # features/0160-connection.feature:99
  @T007-RFC0160 @wip @normal @ExceptionTest @SingleTryOnException @NeedsReview
  Scenario Outline: Establish a connection between two agents but gets a request not accepted report problem message -- @1.1   # features/0160-connection.feature:125
  @T007-RFC0160 @wip @normal @ExceptionTest @SingleTryOnException @NeedsReview
  Scenario Outline: Establish a connection between two agents but gets a request not accepted report problem message -- @1.2   # features/0160-connection.feature:126
@RFC0211 @AIP20
Feature: RFC 0211 Aries Agent Mediator Coordination # features/0211-coordinate-mediation.feature:2
  @T001-RFC0211 @critical @AcceptanceTest @RFC0160
  Scenario Outline: Request mediation with the mediator accepting the mediation request -- @2.1 0160 connection  # features/0211-coordinate-mediation.feature:26
  @T002-RFC0211 @critical @AcceptanceTest @RFC0160
  Scenario Outline: Request mediation with the mediator accepting the mediation request and creating a connection using the mediator -- @2.1 0160 connection  # features/0211-coordinate-mediation.feature:50
  @T003-RFC0211 @critical @AcceptanceTest @wip @RFC0160
  Scenario Outline: Request mediation with the mediator denying the mediation request -- @2.1 0160 connection  # features/0211-coordinate-mediation.feature:74
  @T004-RFC0211 @UsesCustomParameters @RFC0025 @Transport_Http @Transport_Ws @normal @AcceptanceTest @RFC0160
  Scenario Outline: Two agents creating a connection using a mediator without having inbound transports -- @2.1 Acme and Faber creating a 0160 connection using Bob as a mediator without having inbound transports  # features/0211-coordinate-mediation.feature:111
  @T005-RFC0211 @UsesCustomParameters @RFC0025 @Transport_Http @Transport_Ws @critical @AcceptanceTest @RFC0160
  Scenario Outline: Two agents creating a connection using a mediator with overlapping transports -- @2.1 Acme and Faber creating a 0160 connection using Bob a mediator with overlapping transports  # features/0211-coordinate-mediation.feature:149
@RFC0453 @AIP20
Feature: RFC 0453 Aries Agent Issue Credential v2 # features/0453-issue-credential-v2.feature:2
  @T001-RFC0453 @RFC0592 @critical @AcceptanceTest @CredFormat_Indy @Schema_DriversLicense_v2 @RFC0160
  Scenario Outline: Issue a Indy credential with the Holder beginning with a proposal -- @1.1   # features/0453-issue-credential-v2.feature:23
```

I'll hard code the filters into the script.  We could add options to show the full or partial, but that seems overkill for this feature.  

I'll let you know when it is done.

Doing this we have to be aware to add the `-t ~@wip` to the tag options, so the following will give all working tests that will run for RFC0160, `./manage dry-run -t @RFC0160 -t ~@wip | grep "Feature\|Scenario\|\@" | sed "/n(u/d"`
Not sure if it would be a good idea to always include the `~@wip` all the time automatically in the script? 

I would think it is up to the person to use/not use the `-t ~wip` vs. putting it into the script.

Also just to mention, if you have Behave installed locally, you can go into aries-agent-test-harness/aries-test-harness/ and run behave commands normally, so you can do anything you want with the `--dry-run` option and use any formatter behave allows. https://behave.readthedocs.io/en/stable/behave.html

I'm using several of the options and will add some more. Not sure what a "formatter" is in this context, but it sounds promising :-)

Updated the implementation to automatically filter out the steps.  Also removed the references to the source code.

It's pretty close to what you suggest above @tdiesler , minus the "--" between.  I played with that a bit, but...  I also left in the display of the Features and Feature Tags.