What I was hoping we were going to get to was a combination of the two.   That we be able to have a single test (if possible -- may not be possible in all cases) where the example includes the different options (e.g. indy, jsonld, bbs+), and a tag on the example lines so we could use the tag to select which examples to execute.  Eg. the table would look like this:

```
| credential_data   | credential_format | signature_suite | did_method | tags |
| Data_DL_MaxValues | indy              | n/a             | sov        | @indyvc |
| Data_DL_MaxValues | json-ld           | Ed25519Signature2018 | key         | @jsonldvc |
| Data_DL_MaxValues | json-ld           | BbsBlsSignature2020  | key        | @bbsvc |
```

I could then say `-t @indyvc -t @bbsvc` to run the first and third examples of the test.

@swcurran according to the docs:  https://behave.readthedocs.io/en/stable/new_and_noteworthy_v1.2.6.html#index-0

... I think it would look like this:

```
@indyvc
Examples: Indy
| credential_data   | credential_format | signature_suite | did_method |
| Data_DL_MaxValues | indy              | n/a             | sov        |

@jsonldvc
Examples: Json-LD
| credential_data   | credential_format | signature_suite | did_method |
| Data_DL_MaxValues | json-ld           | Ed25519Signature2018 | key         |

@bbsvc
Examples: BBS-VC
| credential_data   | credential_format | signature_suite | did_method |
| Data_DL_MaxValues | json-ld           | BbsBlsSignature2020  | key        |
```

A little more verbose, but that works.  Are you OK with that approach?

> A little more verbose, but that works. Are you OK with that approach?

It works for me.  (Your approach is more compact but I'm not sure it's "legal")

@nodlesh @TimoGlastra ?


By moving the @CredFormat_* Feature tags to the Example tags, and we can do all we are expecting it to do in your comments above. I think a test scenario would look like this. 

```
  @T001-RFC0453 @RFC0592 @critical @AcceptanceTest @DIDExchangeConnection 
  Scenario Outline: Issue a Indy credential with the Holder beginning with a proposal
    Given "2" agents
      | name | role   |
      | Acme | issuer |
      | Bob  | holder |
    Given "Acme" has a public did
    And "Acme" is ready to issue a "<credential_format>" credential using signature suite "<signature_suite>" and did method "<did_method>"
    And "Acme" and "Bob" have an existing connection
    When "Bob" proposes a "<credential_format>" credential to "Acme" with <credential_data>
    And "Acme" offers the "<credential_format>" credential
    And "Bob" requests the "<credential_format>" credential
    And "Acme" issues the "<credential_format>" credential
    And "Bob" acknowledges the "<credential_format>" credential issue
    Then "Bob" has the "<credential_format>" credential issued
    
    @CredFormat_Indy  @Schema_DriversLicense_v2
    Examples: Indy
    | credential_data   | credential_format | signature_suite | did_method |
    | Data_DL_MaxValues | indy              | n/a             | sov        |

    @CredFormat_jsonld @Schema_DriversLicense_v2
    Examples: Json-LD
    | credential_data   | credential_format | signature_suite | did_method |
    | Data_DL_MaxValues | json-ld           | Ed25519Signature2018 | key         |

    @CredFormat_bbs @Schema_WhatEver_v2
    Examples: BBS-VC
    | credential_data   | credential_format | signature_suite | did_method |
    | Data_WhatEver_MaxValues | json-ld           | BbsBlsSignature2020  | key        |
``` 

Then you can execute by, `-t @CredFormat_Indy -t @CredFormat_bbsvc`

This would all work right now if it were formatted like this.  

Present Proof is like this now, except it is missing the signature_suite and did_method.
My initial step to create the credential is different, I have `with formats` (and used the CredFormat tag) as a qualifier, but it can easily be changed to take data from the data table. 

```
 @T001-RFC0454 @critical @AcceptanceTest @DIDExchangeConnection
   Scenario Outline: Present Proof of specific types and proof is acknowledged with a Drivers License credential type with a DID Exchange Connection
      Given "2" agents
         | name  | role     |
         | Faber | verifier |
         | Bob   | prover   |
      And "Faber" and "Bob" have an existing connection
      And "Bob" has an issued credential with formats from <issuer> with <credential_data>
      When "Faber" sends a <request_for_proof> presentation with formats to "Bob"
      And "Bob" makes the <presentation> of the proof with formats
      And "Faber" acknowledges the proof with formats
      Then "Bob" has the proof with formats verified

      @CredFormat_Indy @Schema_DriversLicense_v2 @CredProposalStart
      Examples:
         | issuer | credential_data   | request_for_proof               | presentation                   |
         | Acme   | Data_DL_MaxValues | proof_request_DL_address_v2     | presentation_DL_address_v2     |
         | Faber  | Data_DL_MaxValues | proof_request_DL_age_over_19_v2 | presentation_DL_age_over_19_v2 |

      # @CredFormat_JSON-LD @Schema_DriversLicense_v2 @CredProposalStart
      # Examples:
      #    | issuer | credential_data   | request_for_proof               | presentation                   |
      #    | Acme   | Data_DL_MaxValues | proof_request_DL_address_v2     | presentation_DL_address_v2     |
      #    | Faber  | Data_DL_MaxValues | proof_request_DL_age_over_19_v2 | presentation_DL_age_over_19_v2 |

      # @CredFormat_BBS @Schema_DriversLicense_v2 @CredProposalStart
      # Examples:
      #    | issuer | credential_data   | request_for_proof               | presentation                   |
      #    | Acme   | Data_DL_MaxValues | proof_request_DL_address_v2     | presentation_DL_address_v2     |
      #    | Faber  | Data_DL_MaxValues | proof_request_DL_age_over_19_v2 | presentation_DL_age_over_19_v2 |
```


Minor quibble, but I think having tags for `@Schema_DriversLicense_v2` etc is overkill, are we going to want to run a set of tests filtering for a specific schema?

Also minor, I think to run multiple tags you do like:  `-t @CredFormat_Indy,@CredFormat_bbsvc`  (this is like *OR*)



The main reason there are tags like @Schema_DriversLicense_v2 exists is sort of a hangover from Issue credential V1. There are some Background steps (Run before each scenario) in v1 that needed to know the cred type to create. Those background steps are stated directly in V2 and could just take the table data.  
I think that is the only reason... 
Well, I guess one could want to run tests with only that schema. I've done it while developing. 

I've never been strict that tags should only be used for execution control, but also for logic (if it makes sense).

@ianco I like these changes. However until we can dynamically skip tests based on what an agents supports, we need tags to do that.

AFGO supports more signature suites than ACA-Py, so if we have the following examples, we can't filter by the signature suite anymore. Same with did method.

```
@jsonldvc
Examples: Json-LD
| credential_data   | credential_format | signature_suite                | did_method |
| Data_DL_MaxValues | json-ld           | Ed25519Signature2018           | key        |
| Data_DL_MaxValues | json-ld           | EcdsaSecp2556k1Signature2019   | key        |
```

OK after noodling this and digging into the code, I agree that we need to use tags for "control flow" (Sheldon's term)

I propose that we adopt a convention that these "control flow" tags be attached to example data blocks, and any tags that are at the test level are for test description only, so for example:

```
  @T001-RFC0453 @RFC0592 @critical @AcceptanceTest @DIDExchangeConnection
  Scenario Outline: Issue a Credential with the Holder beginning with a proposal
    Given "2" agents
      | name | role   |
      | Acme | issuer |
      | Bob  | holder |
    Given "Acme" is ready to issue a "<credential_format>" credential using signature suite "<signature_suite>" and did method "<did_method>"
    And "Acme" and "Bob" have an existing connection
    When "Bob" proposes a "<credential_format>" credential to "Acme" with <credential_data>
    And "Acme" offers the "<credential_format>" credential
    And "Bob" requests the "<credential_format>" credential
    And "Acme" issues the "<credential_format>" credential
    And "Bob" acknowledges the "<credential_format>" credential issue
    Then "Bob" has the "<credential_format>" credential issued

    @CredFormat_Indy @Schema_DriversLicense_v2 @DidMethod_sov
    Examples: Indy
      | credential_data   | credential_format |
      | Data_DL_MaxValues | indy              |

    @CredFormat_JSON-LD @Schema_DriversLicense_v2 @ProofType_Ed25519Signature2018 @DidMethod_key
    Examples: Json-LD
      | credential_data   | credential_format |
      | Data_DL_MaxValues | json-ld           |

    @CredFormat_JSON-LD @Schema_DriversLicense_v2 @ProofType_BbsBlsSignature2020 @DidMethod_key
    Examples: Json-LD-BBS
      | credential_data   | credential_format |
      | Data_DL_MaxValues | json-ld           |
```


I've cleaned up the 0435-issue-credential feature file to remove some of the duplicated scenarios and move "control flow" tags to the example data section.  I left the DID method and signature suite as tags, but moved to the example data, we should still be able to filter based on these tags.

@ianco  - is this still ready?  It's been sitting a long time.  Looks safe enough...

I'll have to double check that it's still valid, since it's been awhile.


This PR is out of date, and life seems to be moving on with the existing test parametrization, closing.
