PR: https://github.com/hyperledger/aries-agent-test-harness/pull/626

```
$ ./manage tests -t AcceptanceTest -t AIP10 -t ~@wip    
Selecting: ['@AcceptanceTest', '@AIP10', '~@wip']

Feature: RFC 0025 DIDComm Transports
 T001-RFC0025 AIP10 AcceptanceTest Create DIDExchange connection between two agents with overlapping transports
 T002-RFC0025 AIP10 AcceptanceTest Create 0160 connection between two agents with overlapping transports

Feature: RFC 0036 Aries agent issue credential
 T001-RFC0036 AIP10 AcceptanceTest Issue a credential with the Holder beginning with a proposal
 T002-RFC0036 AIP10 AcceptanceTest Issue a credential with the Holder beginning with a proposal with negotiation
 T003-RFC0036 AIP10 AcceptanceTest Issue a credential with the Issuer beginning with an offer
 T004-RFC0036 AIP10 AcceptanceTest Issue a credential with the Issuer beginning with an offer with negotiation

Feature: RFC 0037 Aries agent present proof
 T001-RFC0037 AIP10 AcceptanceTest Present Proof where the prover does not propose a presentation of the proof and is acknowledged
 T001.2-RFC0037 AIP10 AcceptanceTest Present Proof of specific types and proof is acknowledged with a Drivers License credential type
 T001.3-RFC0037 AIP10 AcceptanceTest Present Proof of specific types and proof is acknowledged with a Biological Indicators credential type
 T001.4-RFC0037 AIP10 AcceptanceTest Present Proof of specific types and proof is acknowledged with multiple credential types
 T001.5-RFC0037 AIP10 AcceptanceTest Present Proof where the prover does not propose a presentation of the proof and is acknowledged
 T003-RFC0037 AIP10 AcceptanceTest Present Proof where the prover has proposed the presentation of proof in response to a presentation request and is acknowledged
 T003.1-RFC0037 AIP10 AcceptanceTest Present Proof where the prover has proposed the presentation of proof from a different credential in response to a presentation request and is acknowledged
 T006-RFC0037 AIP10 AcceptanceTest Present Proof where the prover starts with a proposal the presentation of proof and is acknowledged

Feature: RFC 0160 Aries agent connection functions
 T001-RFC0160 AIP10 AcceptanceTest Establish a connection between two agents
 T002-RFC0160 AIP10 AcceptanceTest Connection established between two agents but inviter sends next message to establish full connection state
```