FYI I notice that the docker image for the vcx backchannel is almost 5.5GB

@ianco Thank you for pointing it out, I reduced the image size to a couple tens of MBs. This PR is also ready for review.

Hi @ianco, I am sorry for notifying you again, but in case you missed my previous comment - this has been ready for review. Please let me know if I am doing something wrong regarding the contribution process.

FYI -- I ran this locally and I got the following error on startup.  Steps for repeating what I did are below. Any idea what is wrong with my environment.

```
Agents to be used:
  Acme - acapy-main
  Bob - aries-vcx
  Faber - acapy-main
  Mallory - acapy-main

waiting for ledger to start
waiting for tails server to start
waiting for uniresolver to start
WARNING: Found orphan containers (uni-resolver-web.local, driver-did-sov.local) for this project. If you removed or renamed this service in your compose file, you can run this command with the --remove-orphans flag to clean it up.
Pulling agency (ghcr.io/absaoss/vcxagencynode/vcxagency-node:2.3.0)...
2.3.0: Pulling from absaoss/vcxagencynode/vcxagency-node
df9b9388f04a: Already exists
.
.
.
0b3d1afe2d56: Pull complete
Digest: sha256:8b13efba4cac126896197e79d57b0582b73d64a1dca93c2fe99c62e8b4cec28d
Status: Downloaded newer image for ghcr.io/absaoss/vcxagencynode/vcxagency-node:2.3.0
Starting mysql ... error

ERROR: for mysql  Cannot start service mysql: network de3c0320a76fe73724df9ab7af9adc5b6758ed918b2a8bee24035be810d8a493 not found

ERROR: for mysql  Cannot start service mysql: network de3c0320a76fe73724df9ab7af9adc5b6758ed918b2a8bee24035be810d8a493 not found
ERROR: Encountered errors while bringing up the project.
waiting for cloud agency to start............................................................
The agency failed to start within 60 seconds.

The cloud agency not running.
```

I used the `runset` command as follows: `./manage runset acapy-ariesvcx -r`. If you are not familiar, that command looks up the `acapy-ariesvcx` GitHub Action and grabs out the build (if needed), agents and test scope from the file and runs those commands.  The `-r` option does a rebuild vs. a build.  As such, under the covers, the command above executes:

```
./manage runset acapy-ariesvcx -r -n
Dry run -- nothing will be executed

Running runset: acapy-ariesvcx, using agents: -d acapy-main -b aries-vcx
Scope of tests: -t @RFC0036,@RFC0037,@RFC0160,@revocation -t ~@T002-HIPE001 -t ~@T014-HIPE001 -t ~@T003-RFC0160 -t ~@T004-RFC0160 -t ~@RFC0025 -t ~@RFC0183 -t ~@RFC0211 -t ~@RFC0434 -t ~@RFC0453 -t ~@wip -t ~@DIDExchangeConnection -t ~@AIP20

Command to run: ./manage rebuild -a aries-vcx -a acapy-main
Command to run: ./manage run -d acapy-main -b aries-vcx -t @RFC0036,@RFC0037,@RFC0160,@revocation -t ~@T002-HIPE001 -t ~@T014-HIPE001 -t ~@T003-RFC0160 -t ~@T004-RFC0160 -t ~@RFC0025 -t ~@RFC0183 -t ~@RFC0211 -t ~@RFC0434 -t ~@RFC0453 -t ~@wip -t ~@DIDExchangeConnection -t ~@AIP20
```

> FYI -- I ran this locally and I got the following error on startup. Steps for repeating what I did are below. Any idea what is wrong with my environment.

FYI I'm in the middle of another test run right now but I can give it a try when it's done.

However you can try explicitly deleting and rebuilding your docker images - this kind of error "Found orphan containers" can happen if docker is trying to start an image but one of the image it depends on is missing.  So for example delete all your vcx, uniresolver etc images, then do a "docker system prune" (general cleanup) and then try rebuilding everything again


On my first attempt the Acme (vcx) agent didn't start:

```
Creating mysql ... done
Creating agency ... done
waiting for cloud agency to start.................
Starting Acme Agent using aries-vcx-agent-backchannel ...
Starting Bob Agent using acapy-main-agent-backchannel ...
Starting Faber Agent using acapy-main-agent-backchannel ...
Starting Mallory Agent using acapy-main-agent-backchannel ...

waiting for Acme agent to start..............................\e[31m
The agent failed to start within 30 seconds.
\e[0m

waiting for Bob agent to start
waiting for Faber agent to start
waiting for Mallory agent to start
```

...  I'll clean up this deployment and try again


Same for me.  The clean up did allow the cloud agent to start. From the logs, it looks like there are missing dependencies:

```
Error loading shared library libzmq.so.5: No such file or directory (needed by ./aries-vcx-backchannel)
Error loading shared library libsodium.so.23: No such file or directory (needed by ./aries-vcx-backchannel)
Error loading shared library libgcc_s.so.1: No such file or directory (needed by ./aries-vcx-backchannel)
Error relocating ./aries-vcx-backchannel: _Unwind_Resume: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_pwhash_argon2i_memlimit_moderate: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_errno: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_SetIP: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_getsockopt: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_pwhash: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_init_size: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_socket: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_sign_ed25519_pk_to_curve25519: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_z85_decode: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetRegionStart: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_sign_ed25519_seed_keypair: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_sign_ed25519_sk_to_curve25519: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_send: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_pwhash_alg_argon2i13: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetTextRelBase: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_pwhash_argon2i_opslimit_interactive: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_bind: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_FindEnclosingFunction: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_poll: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_close: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_size: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_box_seal_open: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_DeleteException: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_RaiseException: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_aead_chacha20poly1305_ietf_encrypt: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetIP: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_data: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_recv: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_close: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_aead_chacha20poly1305_ietf_decrypt: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_sign_ed25519_detached: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetIPInfo: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_z85_encode: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetDataRelBase: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_pwhash_argon2i_opslimit_moderate: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_SetGR: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_sign_ed25519_verify_detached: symbol not found
Error relocating ./aries-vcx-backchannel: randombytes_buf: symbol not found
Error relocating ./aries-vcx-backchannel: sodium_memzero: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_ctx_term: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_aead_chacha20poly1305_ietf_encrypt_detached: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_curve_keypair: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_ctx_new: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_msg_init: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_strerror: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_box_seal: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_box_easy: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_aead_chacha20poly1305_ietf_decrypt_detached: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_box_open_easy: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetCFA: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_pwhash_argon2i_memlimit_interactive: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_Backtrace: symbol not found
Error relocating ./aries-vcx-backchannel: crypto_auth_hmacsha256: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_setsockopt: symbol not found
Error relocating ./aries-vcx-backchannel: zmq_connect: symbol not found
Error relocating ./aries-vcx-backchannel: _Unwind_GetLanguageSpecificData: symbol not found
```

Did a bit more cleanup, rebuilt again, and same behaviour.  When I checked the logs I got the same errors as @swcurran 

@ianco @swcurran I am sorry guys, must have made some untested changes to the dockerfile. With the most recent commit, the tests should run for you (they run in GA).

Verified that the build/running now works -- thanks for the update @mirgee !

If you could revert the change per @nodlesh 's request, we'll merge this.

Checked out, build and ran the tests.  Got 2 failures, and the vcx agency and mysql containers didn't shut down :-(

Log file of the end of the test run:

```
./manage run -d acapy-main -b aries-vcx -t @RFC0036,@RFC0037,@RFC0160,@revocation -t ~@T002-HIPE001 -t ~@T014-HIPE001 -t ~@T003-RFC0160 -t ~@T004-RFC0160 -t ~@RFC0025 -t ~@RFC0183 -t ~@RFC0211 -t ~@RFC0434 -t ~@RFC0453 -t ~@wip -t ~@DIDExchangeConnection

...

Failing scenarios:
  features/0183-revocation.feature:79  Credential revoked and replaced with a new updated credential, holder proves claims with the updated credential with timesstamp -- @1.1 
  features/0183-revocation.feature:364  Revocable Credential, not revoked, and holder proves claims with the credential with timesstamp -- @1.1 

3 features passed, 1 failed, 10 skipped
38 scenarios passed, 2 failed, 113 skipped
361 steps passed, 2 failed, 957 skipped, 0 undefined
Took 23m59.180s

Exporting Agent logs.

Cleanup:
  - Shutting down all the agents ...
Done
StopServices: auto
stopping local uniresolver...
Stopping driver-did-sov.local   ... done
Stopping uni-resolver-web.local ... done
WARNING: Found orphan containers (mysql, agency) for this project. If you removed or renamed this service in your compose file, you can run this command with the --remove-orphans flag to clean it up.
Removing driver-did-sov.local   ... done
Removing uni-resolver-web.local ... done
Network aath_network is external, skipping
stopping local indy-tails-server...
Stopping docker_tails-server_1       ... done
Stopping docker_ngrok-tails-server_1 ... done
Removing docker_tails-server_1       ... done
Removing docker_ngrok-tails-server_1 ... done
Removing network docker_tails-server
stopping local von-network...
warning: Pulling without specifying how to reconcile divergent branches is
discouraged. You can squelch this message by running one of the following
commands sometime before your next pull:

  git config pull.rebase false  # merge (the default strategy)
  git config pull.rebase true   # rebase
  git config pull.ff only       # fast-forward only

You can replace "git config" with "git config --global" to set a default
preference for all repositories. You can also pass --rebase, --no-rebase,
or --ff-only on the command line to override the configured default per
invocation.

Your configuration specifies to merge with the ref 'refs/heads/master'
from the remote, but no such ref was fetched.
\e[33m
Stopping and removing any running containers ...\e[0m
Stopping von_webserver_1 ... done
Stopping von_node2_1     ... done
Stopping von_node1_1     ... done
Stopping von_node4_1     ... done
Stopping von_node3_1     ... done
Removing von_webserver_1 ... done
Removing von_node2_1     ... done
Removing von_node1_1     ... done
Removing von_node4_1     ... done
Removing von_node3_1     ... done

$ docker ps -a
CONTAINER ID   IMAGE                                                COMMAND                  CREATED          STATUS          PORTS                                                  NAMES
a1f3cefa9bbd   ghcr.io/absaoss/vcxagencynode/vcxagency-node:2.3.0   "sh -c 'sleep 10 && …"   26 minutes ago   Up 26 minutes   0.0.0.0:8000->8000/tcp, :::8000->8000/tcp              agency
a2dfcc3f4013   mysql:5.7.35                                         "docker-entrypoint.s…"   26 minutes ago   Up 26 minutes   0.0.0.0:3306->3306/tcp, :::3306->3306/tcp, 33060/tcp   mysql
```


@ianco Can you please try now (no need to rebuild)? I verified that the containers do shut down. (I am sorry for not checking the first time, running the tests is a little cumbersome for me.) As for the failures, I am aware there are some intermittent failures in revocation tests when running against acapy, they are yet to be investigated.

@nodlesh can you review?  the PR os blocked on your requested changes


@ianco FYI, found out that the intermittent failures depend on the specs of the machine running the tests. On a decent EC2, I get (almost) no failures. Also, this seems to be an issue only when running aries-vcx tests against acapy.