Yes the dotnet backchannel/agent has been failing to build for a number of days. Someone with aries .net experience and knows the framework needs to investigate this. 

In the meantime you should be able to use the javascript agent.
```
./manage build -a acapy -a javascript
./manage run -d acapy -b javascript -t @AcceptanceTest -t @AIP10,@RFC0441,@RFC0211,@T001-RFC0453 -t ~@wip -t ~@DIDExchangeConnection -t ~@T004-RFC0211
```
As you can see, the tag list is a little more complicated to narrow down the tests that should run between the two frameworks, but using this should spawn all supported tests for acapy and javascript where javascript is in the holder role(bob)

Ok now I'm able to test. Thanks

A trick for running tests. Try:

```
./manage runset acapy-afj -b
```

Then you don’t have to know all the switches.  It uses the GitHub Actions to find out the tags to use.  The `-b` option does the build ahead of the run.  You can also run `./manage runset` to get help and a list of the names of the “runsets” you can execute.