Looks like the `wrapper.sh` script is missing from the `services/redis-cluster` folder, and it is expected.  I tried running `./manage service build redis-cluster` and `./manage service start redis-cluster` and got error `service redis-cluster doesn't exist` for both.

Should add a Markdown document about using the service and invoking the tests.

Adding other comments in the specific files.

Something wrong on my system in that I couldn’t get things running — likely something on my end and I’ll try again.

However, did note that `services/redis-cluster/wrpper.sh` is not executable on a Linux system.  I needed to do `chmod ug+x services/redis-cluster/wrpper.sh` to run it.

I'm seeing some weirdness in this PR branch, and I've tried all I can to see what's up. For some reason, on this PR a local ledger is not detected when starting AATH and so the tests don't get started.  A `run` prints `waiting for ledger to start`, waits 60 seconds with "."s printing and then exits.  Things I've tried:

- start local von-network
- run on "main" with `./manage run -d acapy -t ...` and that works fine.
- switch to this PR branch, same command fails as defined
- run same command with `LEDGER_URL_CONFIG=http://test.bcovrin.vonx.io ` prefix on this PR branch and works fine.
- prune docker to make sure it's not some docker weirdness -- same result.

So there seems to be something with the changes in this branch and the detection of the start of the ledger that is not working -- independent of the use of Redis or the ACA-Py Redis instance.

I'll try to look through the changes to see anything...

I tried this and had some issues:

* On Linux, the redis-cluster `wrapper.sh` is not executable.  I can address as a follow PR if that is a pain on Windows to do.
* Per #699 — the Dockerfile needs to use `slim-bullseye` vs. just `slim` because of an OS change in `slim:latest`.
* The biggest issue — I couldn’t get the reds-cluster to start.  I ran the command `./manage service start redis-cluster` and the output stopped with all of the nodes “Starting”, as per the image below.  I never did get the service started.
  * Thought it might be a docker thing, so did a `docker system prune` and a `./manage service clean redis-cluster`, but no change when starting the service.

Any ideas?

![image](https://github.com/hyperledger/aries-agent-test-harness/assets/1018050/f7db3675-35c7-4952-a667-7a631f1bd08c)


Progress, but still not working.  I was starting the service up correctly, but the added note in the docs is helpful.  The service is now starting correctly (yay!), and redis starts and stops on command.  No more hanging.

However, the tests are not running properly. I've selected a set of tests that should pass -- the nightly `acapy` runset.

Command: `./manage run -d acapy-redis -t @AcceptanceTest -t ~@wip -t ~@T004-RFC0211 -t ~@DidMethod_orb -t ~@Transport_NoHttpOutbound`

I get timeouts in the tests, such as the following.  Perhaps its a Docker Network thing?  Trying to connect to the wrong IP?

```
@RFC0023 @AIP20
Feature: RFC 0023 Establishing Connections with DID Exchange # features/0023-did-exchange.feature:2
  In order establish a connection with two parties,
  As a responder or a requester,
  I want to use DID Exchange(RFC0023) and Out of Band(RFC0434) protocols to accomplish this.
  @T001-RFC0023 @critical @AcceptanceTest
  Scenario: Establish a connection with DID Exchange between two agents with an explicit invitation  # features/0023-did-exchange.feature:9
    Given we have "2" agents                                                                         # features/steps/0160-connection.py:22 0.000s
      | name | role      |
      | Acme | requester |
      | Bob  | responder |
    When "Bob" sends an explicit invitation to "Acme"                                                # features/steps/0023-did-exchange.py:40 300.793s
      Traceback (most recent call last):
        File "/usr/local/lib/python3.7/site-packages/behave/model.py", line 1329, in run
          match.run(runner.context)
        File "/usr/local/lib/python3.7/site-packages/behave/matchers.py", line 98, in run
          self.func(context, *args, **kwargs)
        File "features/steps/0023-did-exchange.py", line 55, in step_impl
          data=data,
        File "/aries-test-harness/agent_backchannel_client.py", line 103, in agent_backchannel_POST
          make_agent_backchannel_request, "POST", agent_url, data=payload
        File "/aries-test-harness/agent_backchannel_client.py", line 41, in run_coroutine_with_kwargs
          return loop.run_until_complete(coroutine(*args, **kwargs))
        File "/usr/local/lib/python3.7/asyncio/base_events.py", line 587, in run_until_complete
          return future.result()
        File "/aries-test-harness/agent_backchannel_client.py", line 51, in make_agent_backchannel_request
          async with client_session.request(method, path, json=data, params=params) as resp:
        File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 1141, in __aenter__
          self._resp = await self._coro
        File "/usr/local/lib/python3.7/site-packages/aiohttp/client.py", line 560, in _request
          await resp.start(conn)
        File "/usr/local/lib/python3.7/site-packages/aiohttp/client_reqrep.py", line 914, in start
          self._continue = None
        File "/usr/local/lib/python3.7/site-packages/aiohttp/helpers.py", line 721, in __exit__
          raise asyncio.TimeoutError from None
      concurrent.futures._base.TimeoutError

```

Here is from the log of Acme in the `/.logs` folder:

```
Agent running with admin url http://172.17.0.1:9022
ACA-py Backchannel running with ACA-py version: 0.8.2-rc0
Press Ctrl-C to exit ...
2023-06-21 19:37:29,781 aries_cloudagent.core.event_bus ERROR Error occurred while processing event
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/redis/asyncio/connection.py", line 609, in connect
    lambda: self._connect(), lambda error: self.disconnect()
  File "/usr/local/lib/python3.7/site-packages/redis/asyncio/retry.py", line 59, in call_with_retry
    return await do()
  File "/usr/local/lib/python3.7/site-packages/redis/asyncio/connection.py", line 648, in _connect
    ssl=self.ssl_context.get() if self.ssl_context else None,
  File "/usr/local/lib/python3.7/asyncio/streams.py", line 77, in open_connection
    lambda: protocol, host, port, **kwds)
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 962, in create_connection
    raise exceptions[0]
  File "/usr/local/lib/python3.7/asyncio/base_events.py", line 949, in create_connection
    await self.sock_connect(sock, address)
  File "/usr/local/lib/python3.7/asyncio/selector_events.py", line 473, in sock_connect
    return await fut
  File "/usr/local/lib/python3.7/asyncio/futures.py", line 263, in __await__
    yield self  # This tells Task to wait for completion.
  File "/usr/local/lib/python3.7/asyncio/tasks.py", line 318, in __wakeup
    future.result()
  File "/usr/local/lib/python3.7/asyncio/futures.py", line 181, in result
    raise self._exception
  File "/usr/local/lib/python3.7/asyncio/selector_events.py", line 503, in _sock_connect_cb
    raise OSError(err, f'Connect call failed {address}')
TimeoutError: [Errno 110] Connect call failed ('172.96.0.103', 6379)

```