Hello @TimoGlastra we know your PR is still a draft, but we manage to run the following command at least twice in your branch, without problems:
`LEDGER_URL_CONFIG=http://test.bcovrin.vonx.io TAILS_SERVER_URL_CONFIG=https://tails.vonx.io ./manage run -d acapy-main -t @AcceptanceTest -t ~@wip -t @AIP10,@RFC0211 -t ~@DIDExchangeConnection`
Finally yields:
```
(...)
5 features passed, 0 failed, 5 skipped
29 scenarios passed, 0 failed, 106 skipped
212 steps passed, 0 failed, 954 skipped, 0 undefined
Took 15m29.131s
(...)
```

Did some testing with this and got mixed results. Not sure what to expect, especially with the existing tests not in good shape right now.  Here is what I found:

- After PR checkout, rebuilt the agents: `./manage rebuild -a acapy-main -a javascript`
- Ran tests for RFC0211 and RFC0025, as I see they were adjusted in the PR: `./manage run -d acapy-main -b javascript -t @AIP10,@RFC0025,@RFC0211 -t ~@wip -t ~@DIDExchangeConnection -t ~@T004-RFC0211`
- Result: A number of tests failed for RFC0036, RFC0037, RFC0160 and RFC0211 (below).

Is that expected?  A number of the mediator tests are passing.

```
Failing scenarios:
  features/0036-issue-credential.feature:9  Issue a credential with the Holder beginning with a proposal
  features/0036-issue-credential.feature:37  Issue a credential with the Holder beginning with a proposal with negotiation
  features/0036-issue-credential.feature:53  Issue a credential with the Issuer beginning with an offer
  features/0036-issue-credential.feature:66  Issue a credential with the Issuer beginning with an offer with negotiation
  features/0037-present-proof.feature:19  Present Proof where the prover does not propose a presentation of the proof and is acknowledged -- @1.1 
  features/0037-present-proof.feature:20  Present Proof where the prover does not propose a presentation of the proof and is acknowledged -- @1.2 
  features/0037-present-proof.feature:55  Present Proof of specific types and proof is acknowledged with a Drivers License credential type -- @1.1 
  features/0037-present-proof.feature:56  Present Proof of specific types and proof is acknowledged with a Drivers License credential type -- @1.2 
  features/0037-present-proof.feature:74  Present Proof of specific types and proof is acknowledged with a Biological Indicators credential type -- @1.1 
  features/0037-present-proof.feature:91  Present Proof of specific types and proof is acknowledged with multiple credential types -- @1.1 
  features/0037-present-proof.feature:109  Present Proof where the prover does not propose a presentation of the proof and is acknowledged -- @1.1 
  features/0037-present-proof.feature:110  Present Proof where the prover does not propose a presentation of the proof and is acknowledged -- @1.2 
  features/0037-present-proof.feature:149  Present Proof where the prover has proposed the presentation of proof in response to a presentation request and is acknowledged -- @1.1 
  features/0037-present-proof.feature:150  Present Proof where the prover has proposed the presentation of proof in response to a presentation request and is acknowledged -- @1.2 
  features/0037-present-proof.feature:170  Present Proof where the prover has proposed the presentation of proof from a different credential in response to a presentation request and is acknowledged -- @1.1 
  features/0037-present-proof.feature:171  Present Proof where the prover has proposed the presentation of proof from a different credential in response to a presentation request and is acknowledged -- @1.2 
  features/0037-present-proof.feature:227  Present Proof where the prover starts with a proposal the presentation of proof and is acknowledged -- @1.1 
  features/0160-connection.feature:21  establish a connection between two agents -- @1.1 
  features/0160-connection.feature:46  Connection established between two agents but inviter sends next message to establish full connection state -- @1.1 
  features/0160-connection.feature:52  Inviter Sends invitation for one agent second agent tries after connection
  features/0160-connection.feature:69  Inviter Sends invitation for one agent second agent tries during first share phase
  features/0160-connection.feature:99  Establish a connection between two agents who already have a connection initiated from invitee
  features/0211-coordinate-mediation.feature:26  Request mediation with the mediator accepting the mediation request -- @2.1 0160 connection
  features/0211-coordinate-mediation.feature:50  Request mediation with the mediator accepting the mediation request and creating a connection using the mediator -- @2.1 0160 connection

1 feature passed, 4 failed, 6 skipped
8 scenarios passed, 24 failed, 104 skipped
86 steps passed, 24 failed, 1064 skipped, 0 undefined
Took 2m14.382s
```

That's definitely not what should happen! I see you ran without `-t @AcceptanceTest` which is included in the CI. But even then there shouldn't be that much tests failing. Let me clean/rebuild and test again...

Seems I broke some things 😳, should be fixed now

Looking much better!  Running with `-d javascript` passes all but these two tests (below). Trying it now with ACA-Py and AFJ. If that works and you don't stop me because of the two errors below, I'll merge it.

```
Failing scenarios:
  features/0160-connection.feature:52  Inviter Sends invitation for one agent second agent tries after connection
  features/0160-connection.feature:69  Inviter Sends invitation for one agent second agent tries during first share phase

4 features passed, 1 failed, 6 skipped
30 scenarios passed, 2 failed, 104 skipped
239 steps passed, 2 failed, 933 skipped, 0 undefined
Took 10m19.938s
```

I think we need to start having at least periodic meetings vs. pull request discussions so that we can address the "more and more complex to run tests" question that @TimoGlastra  raises.  I think there are some good ideas floating around that we need to discuss, make decisions and act upon. 

How about this -- a monthly meeting at minimum, and then at that meeting, decisions and action items, some of which could be to have extra meetings on a specific topic.  Alternative to a specific AATH meeting is a scheduled monthly session at the Aries WG meeting with a specific organizer (@nodlesh ... is that you volunteering? :-) ) to lead with the same goal -- raise specific issues and make decisions.

Sure I'll volunteer. :) Maybe one monthly meeting to talk about AATH and AMTH. 

I agree Timo, the start endpoint could be enhanced to help with this use case. However, doing the config file approach and adding another step in the GitHub workflows won't create another runset. The end result would be a set of combined results that show up in one report in Allure and the Interop Summary would also look like it had one run. 

There is also the argument that once we start up an agent with different parameters, the test environment has changed, and would warrant another runset to differentiate. Combining a newly instantiated agent into an already running suite, may cause issues with test order. You'd have to be sure these tests are executed last or resets the agent into it's previous state before continuing. 

Sounds like a good idea @swcurran. When do we want to hold the first meeting? Not sure if the Aries WG is the best place for these discussions as it'll probably be very in-depth discussion about implementation details of the test harness rather than high level discussions about Aries.

