@swcurran Does this construct that works with AATH solve the problem this issue was meant to fix? 

```
-t @RFC0023,@T001.1-RFC0036,@RFC00453,@RFC00454 -t ~@wip -t ~@T003-RFC0023 -t ~@T004-RFC0023  -t ~@T005-RFC0023 -t ~@T006-RFC0023 -t ~@CredFormat_JSON-LD
```

Stringing tags together in one `-t` with commas as separators is equivalent to an `OR`. The separate `-t` options is equivalent to an `AND`. 

Yes -- sounds good.  Closing.

I'm updating the docs for running tests to explain this. 

Good stuff -- thanks!