@nodlesh @swcurran This PR doesn't break current passing AFGO tests - the following succeeds:

`./manage run -d afgo-master -t @RFC0023,@T001.1-RFC0036,@RFC0453,@RFC0454 -t ~@wip -t ~@T003-RFC0023 -t ~@T004-RFC0023 -t ~@T005-RFC0023 -t ~@T006-RFC0023 -t ~@CredFormat_JSON-LD`

Ran this with existing afgo tests. ORB Service starts properly and all expected tests pass. 