PR #531

Yes, it would fix the problem adding the feature level tags to the individual test scenarios, however a cleaner approach is to change the manage script to recognize feature level tags and apply them to all scenarios. This way we can take advantage of Behaves tag inheritance in the feature files. Thoughts? 

There also may be a way to accomplish this by leaning on Behave instead of traversing the feature files ourselves. Behave has a [dry-run](https://behave.readthedocs.io/en/stable/behave.html#cmdoption-d) option that may prove handy here. 

I added some comment on [#535](https://github.com/hyperledger/aries-agent-test-harness/pull/535#issuecomment-1192302094)

@nodlesh are we closing this for now or would you prefer an improved version of `./manage tests` without explicitly duplicating feature tags on their respective scenarios?

I needed a way to display to display selected features/scenarios without the many of tags i"m not (just yet) interested in - like this ...

```
$ ./manage tests -t @RFC0036     
Selecting by: ['@RFC0036']

@RFC0036
Feature: RFC 0036 Aries agent issue credential
  @T001-RFC0036
  Scenario: Issue a credential with the Holder beginning with a proposal
  @T001.1-RFC0036
  Scenario: Issue a credential with the Holder beginning with a proposal with DID Exchange Connection
  @T002-RFC0036
  Scenario: Issue a credential with the Holder beginning with a proposal with negotiation
  @T003-RFC0036
  Scenario: Issue a credential with the Issuer beginning with an offer
  @T004-RFC0036
  Scenario: Issue a credential with the Issuer beginning with an offer with negotiation
  @T005-RFC0036
  Scenario: Issue a credential with negotiation beginning from a credential request
  @T006-RFC0036
  Scenario: Issue a credential with the Holder beginning with a request and is accepted

Feature: RFC 0434 Intiating exchange using the Out of Band protocol
  @T001-RFC0434 @RFC0036
  Scenario: Issue a v1 indy credential using connectionless out of band invitation
```

Also, I wanted to use the output of the script to generate a progress status template, like [this](https://github.com/tdiesler/aries-agent-test-harness/blob/camel/aries-backchannels/camel/README.md#aip-10-status)

```
$ ./manage tests -t @AIP10 --markdown
Selecting by: ['@AIP10']

| Status | Feature: RFC 0025 DIDComm Transports
|:------:|:-------------------------------------|
|        |  @T001-RFC0025
|        |  Scenario: Create DIDExchange connection between two agents with overlapping transports
|        |  @T002-RFC0025
|        |  Scenario: Create 0160 connection between two agents with overlapping transports
|        |  @T003-RFC0025
|        |  Scenario: Fail creating a connection between two agents that have mismatching transports configured

| Status | Feature: RFC 0036 Aries agent issue credential
|:------:|:-----------------------------------------------|
|        |  @T001-RFC0036 @AIP10
|        |  Scenario: Issue a credential with the Holder beginning with a proposal
|        |  @T002-RFC0036 @AIP10
|        |  Scenario: Issue a credential with the Holder beginning with a proposal with negotiation
|        |  @T003-RFC0036 @AIP10
|        |  Scenario: Issue a credential with the Issuer beginning with an offer
|        |  @T004-RFC0036 @AIP10
|        |  Scenario: Issue a credential with the Issuer beginning with an offer with negotiation
|        |  @T005-RFC0036 @AIP10
|        |  Scenario: Issue a credential with negotiation beginning from a credential request
|        |  @T006-RFC0036 @AIP10
|        |  Scenario: Issue a credential with the Holder beginning with a request and is accepted
...
```

Perhaps you find this useful. https://github.com/hyperledger/aries-agent-test-harness/pull/541

Done